<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a working as a Lead Engineer working at Target Corporation, and having spend over 10 years with Target Corporation.Over the years i have worn many hats in my career starting from Software Engineer, Senior Software Engineer, Team Lead, Project Lead , Technical Architect and Lead Engineer. I have managed multi-disciplinary projects and have handled complex challenges throughout my career. <br/><br/>
			I enjoy creating great products with great user experiences and working in a dynamic environment with a focus on good development practices, automation and shipping small, frequent releases.For over a decade have worked Mainframe technologies and currently working on various technologies associated with DevOps and CI/CD pipeline. Proven knowledge in design, coding, testing, debugging and production support of computer software.<br/><br/>
			Highly focused, Diligent and Meticulous, Efficient, Effective and result-oriented in all the roles and responsibilities.Excellent Communication Skills – Proficient in interacting with various teams and stakeholders, customer support teams and customers
			
		</div>
		<br>
	</div>
</div>
